.driver-form{
    background: #303030;
    
    position: relative;
    display: none;
    width: fit-content;

    padding: 1rem;
    margin-top: 1rem;
    
    border-radius: 1rem;
}

#form-object {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    align-items: left;
    
    color: #ffffff;
}

.section {
    margin: 0;
    padding: 0;
}

.section-name {
    display: flex;
    align-items: center;
    
    margin-bottom: .5rem;

    font-weight: 700;
}

.input-type {
    background-color: #0000004b;
    color: inherit;

    height: 2rem;
    width: 10rem;

    margin-top: .3rem;
    padding-left: .45rem;

    border: none;
    border-radius: .3rem;

    font-size: 1rem;

    transition: all .2s ease;
}

.input-type:focus {
    outline: none;

    box-shadow: inset 0 0 .6rem -.2rem #fff700;
}

.input-type:not(select):not(:placeholder-shown):not(:focus),
select.input-type:valid {
  box-shadow: inset 0 0 .6rem -.2rem #26ff00;
}

#button-section {
    position: absolute;

    right: 1rem;
}

.delete-driver-button,
.add-driver-button {
    color: #ffffff;

    position: absolute;
    display: flex;
    align-items: center;

    height: 2rem;

    right: 1rem;

    border: none;
    border-radius: .5rem;

    transition: all .1s ease;
}

.add-driver-button {
    background-color: #4c87ff;
    top: .9rem;
}

.delete-driver-button {
    background-color: #d90000;
    bottom: .9rem;
}

.add-driver-button .material-symbols-rounded {
    font-variation-settings: 'FILL' 1, 'wght' 800, 'GRAD' 0, 'opsz' 48;
    font-size: 1.5rem;
}

.delete-driver-button .material-symbols-rounded {
    font-variation-settings: 'FILL' 0, 'wght' 800, 'GRAD' 0, 'opsz' 48;
    font-size: 1.5rem;
}

.add-driver-button:hover,
.delete-driver-button:hover {
    cursor: pointer;
    transform: scale(1.05);
    
    box-shadow: 0 0 .7rem 0 #1a1a1a;
}

.add-driver-button:hover {
    background-color: #5c92ff;
}

.delete-driver-button:hover {
    background-color: #e00000;
}

#driver-name {
    width: 12rem;
    color: #ffffff;
}

#driver-name-dropdown {
    border-radius: 3rem;
}

#circuit-options {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;
}

.circuit-row {
    display: flex;
    gap: 1rem;

    height: 3rem;

    margin-bottom: 1rem;
}

.circuit-box {
    background-color: #0000004b;
    
    display: flex;

    width: 9rem;
    height: 100%;
    
    justify-content: center;
    align-items: center;

    border-radius: .4rem;

    transition: all .2s ease;
}

.circuit-box:hover {
    background-color: #fff70016;
    box-shadow: inset 0 0 .6rem -.2rem #fff700;
    cursor: pointer;
}

.circuit-box.selected-circuit,
.circuit-box.selected-circuit:hover {
    background-color: #26ff0016;
    box-shadow: inset 0 0 .6rem -.2rem #26ff00;
    border-radius: 1rem;
}

.track-name {
    font-size: .9rem;
    font-weight: 200;

    letter-spacing: 0.05rem;
}

#lap-time-section {
    display: flex;
    gap: 3rem;
}

