#input-form{
    background: #ffffff;
    
    position: relative;
    display: none;
    width: fit-content;

    padding: 1rem;
    margin-top: 1rem;
    
    border-radius: 1rem;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    align-items: left;
    
    color: #000000;
}

.section {
    margin: 0;
    padding: 0;
}

.section-name {
    display: flex;
    align-items: center;
    
    margin-bottom: .5rem;

    font-weight: 700;
}

.input-type {
    background: #0000001b;

    height: 1.7rem;
    width: 10rem;

    margin-top: .3rem;
    padding-left: .45rem;

    border: none;
    border-radius: .3rem;

    font-size: 1rem;
}

#button-section {
    position: absolute;

    right: 1rem;
}

.delete-driver-button,
.add-driver-button {
    background: #cccccc;

    position: absolute;
    display: flex;
    align-items: center;

    height: 2rem;

    right: 1rem;

    border: none;
    border-radius: .5rem;
}

.add-driver-button {
    top: .9rem;
}

.delete-driver-button {
    bottom: .9rem;
}

.add-driver-button .material-symbols-rounded,
.delete-driver-button .material-symbols-rounded {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    font-size: 1.5rem;
}

#add-driver-button:hover,
#delete-driver-button:hover {
    cursor: pointer;
}

#driver-name {
    width: 12rem;
}

#circuit-options {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;
}

.circuit-row {
    display: flex;
    gap: 1rem;

    height: 3rem;

    margin-bottom: 1rem;
}

.circuit-box {
    background: #0000001b;
    
    display: flex;

    width: 9rem;
    height: 100%;
    
    justify-content: center;
    align-items: center;

    border-radius: .4rem;
}

.circuit-box:hover {
    background: #ee000016;
    cursor: pointer;
}

.circuit-box.selected-circuit,
.circuit-box.selected-circuit:hover {
    background: #ee000016;
    
    color: #000000;
    box-shadow: 0 0 .6rem 0 #ff0000;

    border-radius: 1rem;

    font-weight: 700;
}

.circuit-box.selected-circuit .track-name,
.circuit-box.selected-circuit:hover .track-name {
    font-weight: 500;
}

.track-name {
    font-size: .9rem;
    font-weight: 540;
}

#lap-time-section {
    display: flex;
    gap: 3rem;
}

