#input-form{
    display: none;
    background: #ffffff;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    width: fit-content;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: .75rem;
    color: #000000;
}

.section {
    margin: 0;
    padding: 0;
}

.section-name {
    display: flex;
    align-items: center;
    font-weight: 700;
}

.input-type {
    border: none;
border-radius: .3rem;


background: #0000001b;
  height: 1.7rem;

  font-size: 1rem;

  margin-top: .3rem;
  
}

.circuit-row {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;

    height: 3rem;
    
}

#circuit-options {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.circuit-box {
    display: flex;
    
    justify-content: center;
    align-items: center;

    width: 10.5rem;
    height: 100%;

    border-radius: .4rem;
    background: #0000001b;
    margin: 0;
}

.circuit-box:hover {
  background: #fffb85;
  cursor: pointer;
  box-shadow: 0 0 0.5rem 0 rgba(255, 255, 160, 0.7);
}

.circuit-box.selected-circuit {
  background: #85ff8d;
  box-shadow: 0 0 0.5rem 0 #85ff8d;
}

#lap-time-section {
    display: flex;
    gap: 3rem;
}