/* FORMATTING FOR THE NEW SET BUTTONS */ 
 
 #form-box {
      display: none;
      border: 2px solid black;
      border-radius: 1rem;
      padding: 1rem;
      margin-top: 1rem;
      width: fit-content;
    }

    #open-form-btn {
      display: none;
      margin-left: 0.5rem;
    }

    #new-set-btn {
      font-weight: bold;
      border-radius: 0.5rem;
      padding: 0.4rem;
      background: white;
      border: 1px solid gray;
      cursor: pointer;
    }

    #plus-icon {
      color: purple;
      font-size: 1.1rem;
      margin-left: 0.3rem;
    }