/* FORMATTING FOR THE NEW SET BUTTONS */ 
 
 #form-box {
      display: none;
      border: 2px solid black;
      border-radius: 1rem;
      padding: 1rem;
      margin-top: 1rem;
      width: fit-content;
    }

    #new-set-button {
      border-radius: 0.5rem;
      padding: 0.4rem;
      background: white;
      border: 1px solid gray;
      cursor: pointer;
    }