.submit-race-button {
    background: #fec007af;
    color: #0000009c;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 3rem;
    width: 20rem;

    gap: .5rem;

    border: none;
    border-radius: 1.3rem;

    transition: all .2s ease;
}

.submit-race-button.hidden {
    transform: translateX(1rem);
    opacity: 0;
}

.submit-race-button.add-more-drivers {
    color: #0000009c;
    width: 40rem;
}

.submit-race-button.not-ready {
    color: #0000009c;
}

.submit-race-button.ready-to-submit {
    background: #fec007;
    color: #000000;
}

.submit-race-button.ready-to-submit:hover {
    cursor: pointer;
    box-shadow: 0 0 1rem 0 #fec0078f;
}

.submit-race-button-text {
    font-weight: 600;
    font-size: 2rem;
}

.submit-race-button .material-symbols-rounded {
    font-size: 2rem;
    font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 200, 'opsz' 48;

    transform-origin: center;

    transition: all .2s ease, transform .5s ease;
}

.icon-disabled {
display: none;
}

.submit-race-button.ready-to-submit:hover .material-symbols-rounded {
    font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 200, 'opsz' 48;
    animation: shake 0.5s ease;
}

@keyframes shake {
    0%   { transform: rotate(0deg); }
    15%  { transform: rotate(10deg); }
    30%  { transform: rotate(-10deg); }
    45%  { transform: rotate(5deg); }
    60%  { transform: rotate(-5deg); }
    75%  { transform: rotate(2deg); }
    90%  { transform: rotate(-2deg); }
    100% { transform: rotate(0deg); }
}